/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
    box-sizing: border-box;
  }
  .formScreen {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #003561;
  }
  .form-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    border-radius: 40px;
    padding: 20px;
  }
  .btn-primary{
    background-color: #09a603;
    border-color: #09a603;
  }
  .btn-posts{
    background-color: #003561;
    border-color: #003561;
  }
  .linksSignInSignUp{
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    padding: 5px 20px;
  }
  .links{
    color: #09A603;
  }
  .menu{
    position: fixed;
    width: 100%;
    top: 40px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
    background-color: #8ad966;
    z-index: 3;
    left: 100%;
  }
  .menu_button{
    background-color: #09A603;
    border: none;
    width:100%;
    padding: 10px 0px;
    border-radius: 10px;
    color: white;
  }
  header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .logged_bar{
    display: flex;
    justify-content: flex-end;
    background-color: #09A603;
    width:100%;
    padding: 0px 10px;
  }
  .clickableIcon {
    cursor: pointer;
  }
  .card{
    width:100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .posts_list{
    background-color: #003561;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 80px 10px 10px 10px;
  }
  .post_title{
    width: 80%;
  }
  .buttons_post{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .button_fig{
    background-color: transparent;
    border:none;
  }
  .form{
    width: 90%;
  }
  .toast-container{
    top: 0;
    animation: slideFromRightToLeft 1s forwards;
  }

  @media (max-width: 900px) {
    .form-container {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
  }

  @keyframes slideFromRightToLeft {
    0% {
      right: -348px;
    }
    100% {
      right: 0;
    }
  }

  .slide-in {
    animation: slideFromRightToLeftMenu 1s forwards;
  }
  
  .slide-out {
    animation: slideFromLeftToRightMenu 1s forwards;
  }

  @keyframes slideFromRightToLeftMenu {
    0% {
      left: 100%;
    }
    100% {
      left: 0;
    }
  }

  @keyframes slideFromLeftToRightMenu {
    0% {
      left: 0;
    }
    100% {
      left: 100%;
    }
  }